{{ partial "head.html" . }}
        <main>
            <div class="page-header">
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            </div>
            {{ range .Paginator.Pages }}
                <article>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <p>{{ .Summary }}</p>
                </article>
            {{ end }}
            <nav>
                {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}">PREV</a>
                {{ end }}
                {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}">NEXT</a>
                {{ end }}
            </nav>
        </main>
{{ partial "foot.html" . }}