<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-black no-underline black-60 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
  <a class="f4 fw4 hover-black no-underline black-60 dn dib-ns pv2 ph3" href="https://www.netlify.com">This site is powered by Netlify</a>
    <a class="f4 fw4 hover-black no-underline black-60 dn dib-ns pv2 ph3" href="/data-protection-policy">Data Protection Policy</a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
