{{ partial "head.html" . }}
        <main>
            <div class="page-header">
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            </div>

            <div>
                <h2>Next Event</h2>
                <p>Information coming soon!</p>
            </div>

            <div>
                <h2>Latest Blog Posts</h2>
                {{ range .Paginator.Pages }}
                    {{ if eq .Section "blog" }}
                    <article>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        <p>{{ .Summary }}</p>
                    </article>
                    {{ end }}
                {{ end }}
                <nav>
                    {{ if .Paginator.HasPrev }}
                        <a href="{{ .Paginator.Prev.URL }}">PREV</a>
                    {{ end }}
                    {{ if .Paginator.HasNext }}
                        <a href="{{ .Paginator.Next.URL }}">NEXT</a>
                    {{ end }}
                </nav>
            </div>
        </main>
{{ partial "foot.html" . }}