<!DOCTYPE HTML>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage" >
    <head>
        <meta http-equic="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <base href="">
        <meta charset="utf-8" />
        <title>WONTFIX Cabal</title>

        <!--<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>-->
        <link rel="canonical" href="http://maintainerati.org/"/>
        <meta property="og:site_name" content="WONTFIX Cabal"/>
        <meta property="og:title" content="WONTFIX Cabal"/>
        <meta property="og:url" content="http://maintainerati.org/"/>
        <meta property="og:type" content="website"/>
        <meta itemprop="name" content="WONTFIX Cabal"/>
        <meta itemprop="url" content="http://maintainerati.org/"/>
        <meta name="twitter:title" content="WONTFIX Cabal"/>
        <meta name="twitter:url" content="http://maintainerati.org/"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="description" content="Open Source Software Maintainers Conference" />

        <!--<script type="text/javascript" src="//use.typekit.net/ik/KYM6zWl6Xz1VXsjhcRHbBSxgwab3UpOMa5ofLlMDDdtfelM2f4e6pUJ6wRMU5QwXFmvuFD9hwDi8jQMaZABywe9UwABKwhjUjAJ-qbI7OcT8SawlZ14ypcmCde90SaBujW48Sagyjh90jhNlOeT8SawlZ14ypcmCde90SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUljA80ieBTdcmkjWsTOcNkZkUaiaS0-cmDSkucScBEZAUCZPoDSWmyScmDSeBRZPoRdhXCiaiaOcuy-AoXjA80ZW4yieq0da41JygcScmTZhyXOWFyd1wlSY4zJ68ciWsuScIlSYb7fbKb-sMMeMw6MKG4f4BTIMMj2PMfH6qJk89bMg6IJMJ7fbKF-sMMeMt6MKG4f44TIMMjgPMfH6qJqhqbMg6VJMJ7fbK9-sMMeMj6MKG4f4mTIMMjIfMfH6qJRcqbMg6YJMJ7fbKV-sMMegI6MKG4f4ZTIMMjfPMfH6qJ8hqbMg6QJMJ7fbKemsMgeMw6MKG4fJFmIMIj2PMfH6qJyB9bMs6IJMJ7fbKBmsMgeMt6MKG4fVN9IMIjgPMfH6qJ6B9bMs6VJMJ7fbKgmsMgeMS6MKG4fJ4mIMIjIPMfH6qJyu9bMs6JJMJ7fbKJmsMgegJ6MTMgozVj069.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono:400,400italic,700normal,700italic"/>
        <script src="https://use.typekit.net/egy7ahm.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body id="collection-575637ea07eaa0e11ab3f1b2">
        <div class="sqs-slide-container horizontal-positioning-center alignment-center gallery-style-full grid-gallery-density-medium grid-gallery-ratio-original grid-gallery-image-orientation-landscape grid-gallery-direction-horizontal   countdown-numeric-label-font-size-medium  page-border-size-medium auto-overlay auto-image-background-color video-overlay-color-blend-mode-normal button-style-outline button-shape-rectangle social-icons-size-small social-icons-style-knockout social-icons-shape-circle  audio-player-icons-size-small audio-player-icons-style-border audio-player-icons-shape-circle  video-icon-size-large video-icon-style-knockout video-icon-shape-circle map-style-minimal-light lock-size-small lock-style-regular lock-shape-circle password-style-rectangle">

            <div class="sqs-slide yui3-widget yui3-landingfullcenter01 yui3-landingfullcenter01-content sqs-slide-ready" data-slide-id="575637ea07eaa0e11ab3f1b3" data-slide-layout-id="landing-full-center-01" data-slide-type="cover-page" id="yui_3_17_2_1_1470808780023_121">
                <div class="sqs-slide-layer layer-back full-width-height">

                    <div class="sqs-slide-layer-content">
                        <div class="sqs-slice" data-slice-type="gallery" data-slice-id="575639a21d07c0a9b1a88331" data-content-empty="true"></div>
                    </div>

                </div>

                <div class="sqs-slide-layer layer-front full-width-height" id="yui_3_17_2_1_1470808780023_425">

                    <div class="sqs-slide-layer-content" id="yui_3_17_2_1_1470808780023_424">
                        <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content align-center-horiz sqs-slice-heading-focused" data-slice-type="heading" data-compound-type="logo" data-slice-id="575638da2eeb81d7c707fe8d" id="yui_3_17_2_1_1470808780023_133">
                            <h1>GitHub HQ - February 15, 2017</h1>
                        </div>

                        <div class="sqs-slice-group group-copy align-center-vert full-width" id="yui_3_17_2_1_1470808780023_440">
                            <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content" data-slice-type="heading" data-slice-id="575638da2eeb81d7c707fe8b" id="yui_3_17_2_1_1470808780023_160">
                                <h1 id="yui_3_17_2_1_1470808780023_441">WONTFIX Cabal.</h1>
                            </div>
                            <div class="sqs-slice yui3-widget sqs-slice-body sqs-slice-body-content" data-slice-type="body" data-slice-id="575638da2eeb81d7c707fe8c" id="yui_3_17_2_1_1470808780023_182">
                                <p>
                                <span style="font-size:14px">A new unconference, open space for open source software maintainers. </span>
                                </p>
                                <p>
                                <span style="font-size:14px">No talks, just discussions.</span>
                                </p>
                            </div>
                            <div class="responsive-wrapper actions" id="yui_3_17_2_1_1470808780023_439">
                                <div class="sqs-slice yui3-widget sqs-slice-custom-form sqs-slice-custom-form-content" data-slice-type="custom-form" data-slice-id="57563cf8d51cd46816d022ac" id="yui_3_17_2_1_1470808780023_203" style="display:block; margin-bottom: 50px;">
                                    <div class="open-form-button-container">
                                        <span id="yui_3_17_2_1_1470808780023_483">
                                            <a href="https://ti.to/maintainerati/wontfix-cabal/with/y467noehv4u" target="_blank" class="open-form-button" id="yui_3_17_2_1_1470808780023_482">Get a Ticket</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="sqs-slice yui3-widget sqs-slice-navigation sqs-slice-navigation-content" data-slice-type="navigation" data-compound-type="action" data-slice-id="57563cf862cd94d5a336ee25" id="yui_3_17_2_1_1470808780023_276" style="padding-left:0px;margin-left:0px;">
                                    <ul>
                                        <li>
                                            <a href="https://twitter.com/maintainerati" target="_blank">@maintainerati</a></li>
                                        <li>
                                            <a href="https://docs.google.com/document/d/17ksd6K3ijUe0h8Iuou993qLfYnyWSw4ffob8XdIjhSE/edit?usp=sharing" target="_blank">Sponsor Prospectus</a>
                                        </li>
                                        <li>
                                            <a href="/code-of-conduct/">Code of Conduct</a>
                                        </li>
                                        <li>
                                            <a href="/diversity-statement/">Diversity Statement</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sqs-slice yui3-widget sqs-slice-navigation sqs-slice-navigation-content" data-slice-type="navigation" data-compound-type="action" data-slice-id="57563cf862cd94d5a336ee25" id="yui_3_17_2_1_1470808780023_276" style="padding-left:0px;margin-left:0px;">
                                    <h3 style="text-align:center">Sponsors</h3>
                                    <ul>
                                        <li>
                                            <a href="https://github.com" target="_blank">
                                                <img src="/img/github.png" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://chef.io" target="_blank">
                                                <img src="/img/chef.png" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://buzzfeed.io" target="_blank">
                                                <img src="/img/buzzfeed.png" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- Google Analytics -->
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-29404280-20', 'auto');
ga('send', 'pageview');

        </script>
    </body>
</html>
